# Ignore ROS2 build artifacts
build/
install/
log/

# Ignore Python cache and other temp files
__pycache__/
*.pyc
*.pyo

# Ignore VSCode / PyCharm configs
.vscode/
.idea/

# Ignore Docker intermediate files (optional)
*.log
*.tmp
*.swp

# Allow hospital world models to be tracked
!aws-robomaker-hospital-world/
!aws-robomaker-hospital-world/fuel_models/

*.png
*.jpg
*.jpeg
* .mp4
*.avi
*.mkv
*.mov
*.gif
*.zip
*.tar.gz

/NoMaD/bags/
/NoMaD/bags_altitude/
*.rviz
*.tum
*.csv
*.npy
*.h5
*.db
/NoMaD/runs/
/NoMaD/models/
/NoMaD/figures/
*.json  
*.db3
*yaml



