plugins/
bin/
__pycache__/
*.pyc
build/
install/
log/
*.log
*.bag
*.db
*.sqlite

# ROS2 / Colcon build artifacts
build/
install/
log/

# Python cache
**/__pycache__/
*.pyc
*.pyo

# CMake files
CMakeFiles/
cmake-build-*/

# VSCode
.vscode/

# JetBrains
.idea/

# Misc
*.swp
*.swo

*.mkv
*.avi
*.mp4
*.mov
*.zip
*.tar.gz

*.jpeg
* .mp4
*.avi
*.mkv
*.mov
*.gif
*.zip
*.tar.gz

/NoMaD/bags/
/NoMaD/runs_nomad/
/NoMaD/run_nomad_OLD/
/NoMaD/bags_altitude/
*.rviz
*.tum

bin/
__pycache__/
*.pyc
*.pyo
*.pyd
*.csv
*.log
*.jsonl
*.json
.vscode/
.idea/
*.db3
*.mtl
*.obj
*.pcd
*.srv

*.venv
/NoMaD/eval_runs/
/NoMaD/topomap

*.gv
*.pdf